<div class="login-container">
  <mat-card class="login-card">

    <img src="../../../../assets/imagenes/icono.png" alt="icono" class="login-icono" />
    <h1>Bienvenido, inicia sesion para continuar</h1>

    <form [formGroup]="formulario" (ngSubmit)="login()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="full-width">
        Iniciar sesión
      </button>

      <div class="botones-rapidos">
        <button mat-stroked-button (click)="loginRapido('paciente')">Paciente demo</button>
        <button mat-stroked-button (click)="loginRapido('especialista')">Especialista demo</button>
        <button mat-stroked-button (click)="loginRapido('admin')">Admin demo</button>
      </div>
    </form>
  </mat-card>
</div>
