<!-- Banner principal -->
<div class="banner">
  <div class="info-cards">
    <mat-card class="info-card">
      <mat-icon>schedule</mat-icon>
      <h4>Horario de atención</h4>
      <p>Lunes a Viernes de 8:00 a 19:00h.<br>Sábados de 8:00 a 14:00h</p>
    </mat-card>

    <mat-card class="info-card">
      <mat-icon>call</mat-icon>
      <h4>Contacto</h4>
      <p>12 2424 4242</p>
    </mat-card>

    <mat-card class="info-card">
      <mat-icon>location_on</mat-icon>
      <h4>Ubicación</h4>
      <p>Avellaneda, Mitre 345, Argentina</p>
    </mat-card>
  </div>
</div>

<!-- Sección inferior -->
<div class="seccion-inferior">
  <mat-card class="info-bloque">
    <img mat-card-image src="assets/imagenes/quienesSomos.jpg" alt="quienes somos" />
    <mat-card-content>
      <h4>¿Quiénes somos?</h4>
      <p>
        Somos un equipo comprometido de profesionales médicos dedicados a proporcionar atención de calidad y personalizada a cada uno de nuestros pacientes.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="info-bloque">
    <img mat-card-image src="assets/imagenes/calida.jpg" alt="atención calidad" />
    <mat-card-content>
      <h4>Atención de Calidad</h4>
      <p>
        Nuestro compromiso es garantizar que cada paciente reciba la mejor atención posible, utilizando tecnología de vanguardia y tratamientos actualizados.
      </p>
    </mat-card-content>
  </mat-card>
</div>
