.header-turnos {
  text-align: center;
  margin-top: 20px;

  h1 {
    font-size: 2rem;
    margin-bottom: 0;
    color: white;
  }

  p {
    color: #eee;
    font-size: 1rem;
    margin-top: 5px;
  }

  .selector-vista {
    margin-top: 20px;
    display: inline-flex;
    background: #3b5bdb;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);

    button {
      padding: 10px 20px;
      background: transparent;
      color: white;
      border: none;
      font-weight: 500;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      transition: background 0.3s;

      &:hover {
        background-color: rgba(255,255,255,0.1);
      }

      &.activo {
        background: white;
        color: #1c3faa;
      }

      mat-icon {
        font-size: 20px;
      }
    }
  }
}
