
<mat-card class="form-card">

  <h2 class="titulo">Solicitar Nuevo Turno</h2>

  <!-- Paso 1: Especialidades -->
  <div class="grid-botones">
    <h2>Especialidades</h2>
    <button appResaltarElemento mat-button *ngFor="let esp of especialidades"
            class="boton-imagen"
            (click)="seleccionarEspecialidad(esp)"
            [ngClass]="{ 'seleccionado': especialidadSeleccionada === esp }">
      <img [src]="'../../../../assets/especialidades/' + (tieneImagenEspecialidad(esp) ? esp + '.png' : 'defaultEspecialidada.png')"
           alt="{{ esp }}" />

           
    </button>
  </div>

  <!-- Paso 2: Profesionales -->
  <div class="grid-botones" *ngIf="especialistasFiltrados.length > 0">
    <h2>Especialista {{this.especialidadSeleccionada}}</h2>
    <button appResaltarElemento mat-button *ngFor="let prof of especialistasFiltrados"
            class="boton-imagen-vertical"
            (click)="seleccionarProfesional(prof)"
            [ngClass]="{ 'seleccionado': especialistaSeleccionado === prof }">
      <span>{{ prof.nombre }} {{ prof.apellido }}</span>
      <img [src]="prof.imagenUrl|| '../../../../assets/imagenes/defaultPerfil.png'" alt="{{ prof.nombre }}" />
    </button>
  </div>

  <!-- Paso 3: Fechas -->
  <div class="grid-botones" *ngIf="fechasDisponibles.length > 0">
    <h2>Fechas disponibles</h2>
    <button appResaltarElemento mat-raised-button *ngFor="let fecha of fechasDisponibles"
            class="boton-texto"
            (click)="seleccionarFecha(fecha)"
            [ngClass]="{ 'seleccionado': fechaSeleccionada === fecha }">
      {{ fecha }}
    </button>
  </div>

  <!-- Paso 4: Horarios -->
  <div class="grid-botones" *ngIf="horariosDisponibles.length > 0">
    <h2>Horarios disponibles</h2>
    <button appResaltarElemento mat-raised-button *ngFor="let h of horariosDisponibles"
            [disabled]="h.estado === 'ocupado'"
            class="boton-texto"
            (click)="reservarTurno(fechaSeleccionada, h.hora)">
      {{ h.hora }} <span *ngIf="h.estado === 'ocupado'">(Ocupado)</span>
    </button>
  </div>

</mat-card>


