<mat-card class="registro-card">
  <div class="registro-header">
    <img src="../../../../assets/imagenes/icono.png" alt="Logo" class="logo">
    <h2>Registro Clinica online</h2>
  </div>

  <app-spinner *ngIf="this.cargando" class="overlay-spinner"></app-spinner>

  <form [formGroup]="formulario" (ngSubmit)="registrar()" class="registro-form">
    <div class="form-grid">

      <!-- Columna izquierda -->
      <div class="columna">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" />
          <mat-error *ngIf="formulario.get('nombre')?.hasError('required')">El nombre es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellido" />
                  <mat-error *ngIf="formulario.get('apellido')?.hasError('required')">El apellido es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Edad</mat-label>
          <input matInput type="number" formControlName="edad" />
                  <mat-error *ngIf="formulario.get('edad')?.hasError('required')">La edad es requerida</mat-error>
        <mat-error *ngIf="formulario.get('edad')?.hasError('min')">La edad mínima es 18</mat-error>
        <mat-error *ngIf="formulario.get('edad')?.hasError('max')">La edad máxima es 100</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>DNI</mat-label>
          <input matInput formControlName="dni" />
          
          <mat-error *ngIf="formulario.get('dni')?.hasError('required')">El DNI es requerido</mat-error>
          <mat-error *ngIf="formulario.get('dni')?.hasError('pattern')">El DNI debe tener entre 7 y 8 números</mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="formulario.get('email')?.hasError('required')">El correo es requerido</mat-error>
          <mat-error *ngIf="formulario.get('email')?.hasError('email')">El correo es inválido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="formulario.get('password')?.hasError('required')">La contraseña es requerida</mat-error>
        <mat-error *ngIf="formulario.get('password')?.hasError('minlength')">Debe tener al menos 6 caracteres</mat-error>
        </mat-form-field>
      </div>

      <!-- Columna derecha -->
      <div class="columna">
        <label class="subtitulo">Imagen de perfil</label>
       <div class="file-upload">
          <label for="imagen" class="file-label">Seleccionar archivo</label>
          <input type="file" id="imagen" (change)="seleccionarImagen($event)" />
        </div>


        <label class="subtitulo">Especialidades</label>
        <mat-form-field appearance="outline">
          <mat-label>Especialidades</mat-label>
          <mat-select formControlName="especialidadesSeleccionadas" multiple>
            <mat-option *ngFor="let esp of especialidadesDisponibles" [value]="esp">
              {{ esp }}
            </mat-option>
          </mat-select>
           <mat-error *ngIf="formulario.get('especialidadesSeleccionadas')?.hasError('required')">
          Debe seleccionar al menos una especialidad
        </mat-error>
        </mat-form-field>

        <div class="fila-especialidad">
          <mat-form-field appearance="outline" class="especialidad-input">
            <mat-label>Nueva especialidad</mat-label>
            <input matInput [formControl]="especialidadNueva" />
          </mat-form-field>
          <button mat-raised-button color="primary" type="button" (click)="agregarEspecialidadManual()">
            Agregar
          </button>
        </div>
      </div>

    </div>
    <re-captcha
      [siteKey]="'6LdlMmIrAAAAANsuw8gS-c7DW1TVtNb2Sy9RXkDP'"
      (resolved)="resolved($event)">
    </re-captcha>
    <button mat-raised-button color="primary" type="submit" class="boton-registrar" [disabled]="formulario.invalid || cargando">
      Registrar
    </button>
  </form>
</mat-card>
