<mat-card class="perfil-facebook">
  <div class="portada-container">
    <img [src]="usuario?.imagen2Url" alt="Foto de portada" class="foto-portada">
    <img [src]="usuario?.imagenUrl" alt="Foto de perfil" class="foto-perfil-superpuesta">
  </div>

  <mat-card-content class="contenido-perfil">
    <br>
    <h2 class="nombre-usuario">{{ usuario?.nombre }} {{ usuario?.apellido }}</h2>

    <!-- Datos personales -->
    <section class="seccion-info">
      <h3><mat-icon>person</mat-icon> Datos personales</h3>

      <div class="info-item" *ngIf="usuario?.dni">
        <mat-icon>badge</mat-icon>
        <span>DNI: {{ usuario?.dni }}</span>
      </div>

      <div class="info-item" *ngIf="usuario?.edad">
        <mat-icon>calendar_today</mat-icon>
        <span>Edad: {{ usuario?.edad }}</span>
      </div>

      <div class="info-item">
        <mat-icon>mail</mat-icon>
        <span>Email: {{ usuario?.email }}</span>
      </div>

      <div class="info-item">
        <mat-icon>verified_user</mat-icon>
        <span>Rol: {{ usuario?.rol | titlecase }}</span>
      </div>
    </section>

    <!-- Obra Social -->
    <section class="seccion-info" *ngIf="usuario?.obraSocial">
      <h3><mat-icon>medical_services</mat-icon> Obra Social</h3>
      <p>{{ usuario?.obraSocial }}</p>
    </section>

    <button mat-raised-button color="blue" (click)="generarPDF()">Descargar historial Clinica</button>
  </mat-card-content>
</mat-card>
