<mat-card class="perfil-facebook">
  <div class="portada-container">
    <img [src]="usuario?.imagen2Url" alt="Foto de portada" class="foto-portada">
    <img [src]="usuario?.imagenUrl" alt="Foto de perfil" class="foto-perfil-superpuesta">
  </div>

  <mat-card-content class="contenido-perfil">
    <br>
    <h2 class="nombre-usuario">{{ usuario?.nombre }} {{ usuario?.apellido }}</h2>

    <!-- Datos personales -->
    <section class="seccion-info">
      <h3><mat-icon>person</mat-icon> Datos personales</h3>

      <div class="info-item" *ngIf="usuario?.dni">
        <mat-icon>badge</mat-icon>
        <span>DNI: {{ usuario?.dni | formatearDni }}</span>
      </div>

      <div class="info-item" *ngIf="usuario?.edad">
        <mat-icon>calendar_today</mat-icon>
        <span>Edad: {{ usuario?.edad }}</span>
      </div>

      <div class="info-item">
        <mat-icon>mail</mat-icon>
        <span>Email: {{ usuario?.email }}</span>
      </div>

      <div class="info-item">
        <mat-icon>verified_user</mat-icon>
        <span>Rol: {{ usuario?.rol | titlecase }}</span>
      </div>
    </section>

    <!-- Obra Social -->
    <section class="seccion-info" *ngIf="usuario?.obraSocial">
      <h3><mat-icon>medical_services</mat-icon> Obra Social</h3>
      <p>{{ usuario?.obraSocial }}</p>
    </section>

   <div class="acciones-historial">
  <button appResaltarElemento mat-raised-button color="primary" *ngIf="turnos!.length > 0" (click)="generarPDF()">
    <mat-icon>download</mat-icon>
    Descargar historial clínico completo
  </button>
</div>

<section class="seccion-info" *ngIf="turnos.length > 0">
  <h3><mat-icon>assignment</mat-icon> Historial por especialista</h3>

  <table mat-table [dataSource]="especialistasUnicos" class="mat-elevation-z2 tabla-historial">

    <!-- Columna nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Especialista </th>
      <td mat-cell *matCellDef="let esp">
        <div class="especialista-info">
          <mat-icon>person</mat-icon>
          <span>{{ esp.nombreEsp }} {{ esp.apellidoEsp }}</span>
        </div>
      </td>
    </ng-container>

    <!-- Columna acción -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let esp">
        <button appResaltarElemento mat-stroked-button color="accent" (click)="descargarHistorialPorEspecialista(esp)">
          <mat-icon>download</mat-icon>
          Descargar historial
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['nombre', 'acciones']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['nombre', 'acciones']"></tr>
  </table>
</section>

  </mat-card-content>
 
</mat-card>
