<mat-toolbar color="primary" class="navbar">
  <a mat-button class="logo-btn" routerLink="/auth/bienvenida">
    <mat-icon class="icono-logo">local_hospital</mat-icon>
    <span class="titulo">Clinica UTN Avellaneda</span>
  </a>

  <span class="spacer"></span>

  <ng-template #noRegistrado>
    <a mat-button routerLink="/auth/login">Iniciar Sesión</a>
    <a mat-button routerLink="/auth/registro">Registrarse</a>
  </ng-template>

  <ng-container *ngIf="usuario.rol !== 'no-registrado'; else noRegistrado">


    <a mat-button (click)="miPerfil()">Mi perfil</a>
    <a *ngIf="usuario.rol === 'admin'" mat-button routerLink="/admin">Panel Admin</a>
    <a *ngIf="usuario.rol === 'paciente'" mat-button routerLink="/paciente">Panel Paciente</a>
    <a *ngIf="usuario.rol === 'especialista'" mat-button routerLink="/especialista">Panel Especialista</a>
    
    <a mat-button (click)="cerrarSesion()">Cerrar sesión</a>
  </ng-container>

</mat-toolbar>
