<!--<h2 class="titulo-registro">Registrarte como...</h2>

<div class="selector">
  <button class="boton-selector paciente" (click)="tipo = 'paciente'">
    <span class="texto-superpuesto">Paciente</span>
  </button>

  <button class="boton-selector especialista" (click)="tipo = 'especialista'">
    <span class="texto-superpuesto">Especialista</span>
  </button>
</div>

<div class="formulario">
  <app-form-registro-paciente *ngIf="tipo === 'paciente'"></app-form-registro-paciente>
  <app-form-registro-especialista *ngIf="tipo === 'especialista'"></app-form-registro-especialista>
</div>
!-->
<h2 class="titulo-registro">Registrarte como...</h2>

<div class="selector">
  <button class="boton-selector paciente" (click)="abrirModal('paciente')">
    <span class="texto-superpuesto">Paciente</span>
  </button>

  <button class="boton-selector especialista" (click)="abrirModal('especialista')">
    <span class="texto-superpuesto">Especialista</span>
  </button>
</div>
