<h2 class="titulo-registro">Registrarte como...</h2>

<div class="selector">
  <button class="boton-selector paciente" (click)="abrirModal('paciente')">
    <span class="texto-superpuesto">Paciente</span>
  </button>

  <button class="boton-selector especialista" (click)="abrirModal('especialista')">
    <span class="texto-superpuesto">Especialista</span>
  </button>
    <button class="boton-selector admin" (click)="abrirModal('admin')">
    <span class="texto-superpuesto">Administrador</span>
  </button>
</div>
