<mat-card class="form-card">
  <h2 class="titulo">Solicitar Nuevo Turno</h2>

  <!-- paciente -->
  <mat-form-field appearance="fill" class="form-control">
  <mat-label>🩺 Paciente</mat-label>
  <mat-select [(ngModel)]="pacienteSeleccionado">
    
    <mat-option >
      <input
        placeholder="Buscar por nombre o DNI"
        [(ngModel)]="filtroPaciente"
        (click)="$event.stopPropagation()"
        (keyup)="$event.stopPropagation()"
        style="width: 100%; border: none; outline: none; padding: 5px"
      />
    </mat-option>

    <mat-option *ngFor="let pac of pacientesFiltrados()" [value]="pac">
      {{ pac.apellido }} {{ pac.nombre }} - {{ pac.dni }}
    </mat-option>

  </mat-select>
</mat-form-field>

<div *ngIf="pacienteSeleccionado">

  <mat-form-field appearance="fill" class="form-control">
    <mat-label>🩺 Especialidad Médica</mat-label>
    <mat-select [(ngModel)]="especialidadSeleccionada" (selectionChange)="cargarEspecialistas()">
      <mat-option *ngFor="let esp of especialidades" [value]="esp">{{ esp }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Profesional -->
  <mat-form-field appearance="fill" class="form-control" *ngIf="especialistasFiltrados.length > 0">
    <mat-label>👤 Profesional</mat-label>
    <mat-select [(ngModel)]="especialistaSeleccionado" (selectionChange)="cargarFechasDisponibles()">
      <mat-option *ngFor="let esp of especialistasFiltrados" [value]="esp">
        Dr./Dra. {{ esp.nombre }} {{ esp.apellido }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Fecha disponible -->
  <mat-form-field appearance="fill" class="form-control" *ngIf="fechasDisponibles.length > 0">
    <mat-label>📅 Fecha Disponible</mat-label>
    <mat-select [(ngModel)]="fechaSeleccionada" (selectionChange)="seleccionarFecha(fechaSeleccionada)">
      <mat-option *ngFor="let fecha of fechasDisponibles" [value]="fecha">
        {{ fecha }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Horario disponible -->
  <mat-form-field appearance="fill" class="form-control" *ngIf="horariosDisponibles.length > 0">
    <mat-label>🕒 Horario Disponible</mat-label>
    <mat-select >
      <mat-option *ngFor="let h of horariosDisponibles" [value]="h.hora" [disabled]="h.estado === 'ocupado'">
        {{ h.hora }} <span *ngIf="h.estado === 'ocupado'"> (Ocupado)</span>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Botón confirmar -->
  <div class="boton-container" *ngIf="puedeConfirmarTurno">
    <button
    mat-raised-button
    color="primary"
    (click)="reservarTurno(fechaSeleccionada, getPrimerHorarioDisponible())"
    >
      📅 Confirmar Turno
    </button>
  </div>
</div>

</mat-card>
