/*.form-card {
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  background-color: #f5f9ff;
  border-radius: 12px;
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
}

.boton-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
*/.grid-botones {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.titulo {
  text-align: center;
  margin-bottom: 25px;
  color: #1a237e;
  font-weight: bold;
}

.boton-imagen {
  width: 120px;
  height: 80px;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  border: 2px solid transparent;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &.seleccionado {
    border-color: #3f51b5;
  }
}

.boton-imagen-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 140px;
  padding: 0.5rem;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 8px;

  span {
    font-size: 14px;
    margin-bottom: 0.3rem;
  }

  img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
  }

  &.seleccionado {
    border-color: #3f51b5;
  }
}

.boton-texto {
  min-width: 100px;
  border-radius: 8px;

  &.seleccionado {
    background-color: #3f51b5;
    color: white;
  }
}
.grid-botones h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
}
// 

///
/// //
/// 

.pacientes-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.paciente-card {
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  max-width: 150px;

  &:hover {
    transform: scale(1.05);
  }

  .imagen-container {
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid grey;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .nombre-con-estado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    gap: 6px;

    .estado {
      width: 14px;
      height: 14px;
      background: linear-gradient(145deg, #00c853, #69f0ae);
      border-radius: 50%;
      display: inline-block;
    }

    .nombre {
      font-weight: 500;
      color: black;
    }

  }
}
    .rol {
  font-size: 14px;
  color: gray;
  margin-top: 4px;
}